.landing-container, .auth-container {
    box-sizing: content-box;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url("../../assets/animations/101541-circle-day.gif");
    background-color: #efddb7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 10px 0;
    font-family: 'Nanum Pen Script', cursive;
}
.auth-container {
    background: transparent;
}

.landing-container > h1, h3 {
    color: darkgreen;
    font-size: 2rem;
    font-weight: bold;
}

.logo-container {
    max-height: 300px;
    margin: auto;
}

.logo {
    max-height: 280px;
    width: auto;
    margin: auto;
}

.auth-form {
    font-family: 'Nanum Pen Script', cursive;
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: 0 auto;
    background-color: #9ab4a9;
    opacity: 0.9;
    border: 2px darkgreen solid;
    border-radius: 20px;
    padding: 10px;
}

.auth-label, p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
    color: #008037;
    text-shadow: 1px 1px black;
    background-color: inherit;
    letter-spacing: 1.5px;
}

.auth-btn {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    height: auto;
    width: 90%;
    margin: auto;
    background-color: #008037;
    color: #fff;
    border-radius: 30px;
    border: none;
    
}

.auth-input {
    font-family: 'Lato', sans-serif;
    margin: 5px auto;
    height: auto;
    padding: 10px;
    border-radius: 30px;
    border: 1px darkgreen solid;    
    width: 90%;
    text-align: center;
}

.auth-btn:active {
    background-color: #9ab4a9;
    color: #000;
}

.slogan {
    font-size: 2rem;
}

.slogan-block {
    display: block;
    font-size: 1.5rem;
    background-color: #9ab4a9;
    color: green;
}

