.landing-container {
    /* box-sizing: content-box; */
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url("../../assets/animations/101541-circle-day.gif");
    background-color: #efddb7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    /* padding: 10px 0; */
    font-family: 'Nanum Pen Script', cursive;
}

.landing-container > h1, h2, h3 {
    color: darkgreen;
    font-size: 2rem;
    font-weight: bold;
}

.logo-container {
    max-height: 280px;
    margin: auto;
}

.logo {
    max-height: 260px;
    width: auto;
    margin: auto;
}

p {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
    color: #008037;
    text-shadow: 1px 1px black;
    background-color: inherit;
    letter-spacing: 1.5px;
}

.auth-btn, .form-control {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    height: 50px;
    width: 90%;
    margin: auto;
    background-color: #008037;
    color: #fff;
    border-radius: 30px;
    border: none;  
}

.form-control {
    background-color: #fff;
    color: #000;
    margin: 5px auto;
    height: auto;
    padding: 10px;
    border-radius: 30px;
    border: 1px darkgreen solid;    
    width: 90%;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}

.slogan {
    font-size: 2rem;
}

.slogan-block {
    display: block;
    font-size: 1.5rem;
    background-color: #9ab4a9;
    color: green;
}

