#add-item-btn, #remove-item-btn, #edit-item-btn, #back-btn {
    font-family: 'Nanum Pen Script', cursive;
    height: 40px;
    border-radius: 50%;
    background-color: yellowgreen;
    font-size: 24px;
    color: #fff;
    margin-left: 10px;
}

#remove-item-btn {
    background-color: red;
}

#edit-item-btn, #back-btn {
    background-color: #efddb7;
    color: #000;
    border-radius: 10px;
    display: flex;
    margin: auto;
}