.checklist-header {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px black;
    letter-spacing: 1.5px;
    color: #a56953;
    font-family: 'Nanum Pen Script', cursive;
}

.checklist-container {
    background-image: url("../../assets/images/dark-woods-bg.jpg");
    position: relative;
    height: 100%;
    opacity: 0.9;
}

.checklistform-input {
    padding: 5px;
    margin: 0 auto 10px;
}

div > .caravan {
    max-height: 150px;
    max-width: 200px;
    align-content: center;
    margin: auto;
}

.checklist-item {
    font-family: 'Nanum Pen Script', cursive;
    text-align: start;
    text-transform: capitalize;
    border-bottom: solid 2px #2090a4;
    color: #fff;
    height: 30px;
}

#completed-item-btn {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
    position: relative;
    margin-right: 10px;
    background-color: yellowgreen;
    height: 30px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-color: aqua;
    border: solid 2px #fff;
    border-radius: 50px;
    margin-right: 10px;
    float: right;
}

#remove-item-btn {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
    float: right;
} 