.camping-checklist {
    background-image: url("../../assets/images/dark-woods-bg.jpg");
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}

.add-item-input {
    padding: 5px;
    margin: 0 auto 10px;
    color: #000;
}

.caravan-icon {
    max-height: 200px;
    max-width: 200px;
    align-content: center;
    margin: auto;
}

.checklist-add-item, .checklist-list {
    background-color: #9ab4a9;
    width: 100%;
    position: relative;
    display: inline-block;
    font-family: 'Nanum Pen Script', cursive;
    text-align: start;
    text-transform: capitalize;
    font-size: 2rem;
    color: #fff;
    padding: 10px;
}

.add-btn {
    margin-left: 10px;
}



#completed-item-btn {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
    position: relative;
    margin-right: 10px;
    background-color: yellowgreen;
    height: 30px;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration-color: aqua;
    border: solid 2px #fff;
    border-radius: 50px;
    margin-right: 10px;
    float: right;
}

#remove-item-btn {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 50%;
    margin-right: 10px;
    float: right;
} 