.camping-checklist {
    background-image: url("../../assets/images/dark-woods-bg.jpg");
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.checklist-heading {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
}

.add-item-input {
    padding: 5px;
    margin: 0 auto 10px;
    color: #000;
}

.caravan-icon {
    max-height: 200px;
    max-width: 200px;
    align-content: center;
    margin: auto;
}

.checklist-add-item, .checklist-list {
    background-color: #9ab4a9;
    width: 100%;
    position: relative;
    display: inline-block;
    font-family: 'Nanum Pen Script', cursive;
    text-transform: capitalize;
    font-size: 2rem;
    color: green;
    padding: 10px;
}

.add-btn {
    margin-left: 10px;
}

.checklist-list {
    position: relative;
    display: block;
    font-size: 1.6rem;
    color: #035326;
    margin: auto;
}

.item-container {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}
.item-name {
    font-weight: bold;
}

.total {
    text-align: center;
    font-weight: bold;
}

.btn-container {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
#save-btn, #back-btn, #delete-btn {
    font-family: 'Nanum Pen Script', cursive;
    background-color: yellowgreen;
    color: #000;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border: solid 2px #fff;
    border-radius: 50px;
    margin: 0 10px;
}
#back-btn {
    background-color:#008037;
    color: #fff;
}
#delete-btn {
    background-color: red;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 50px;  
} 