.home-container {
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/animations/32532-day-night.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-title {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
}

.card-image {
    max-height: 200px;
    width: 200px;
    margin: auto;
}

.card-body {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
}

#new-trip-btn, #view-trip-btn {
    background-color: #008037;
    border: none;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    display: flex;
    height: auto;
    text-align: center;
    margin: auto auto 20px auto;
}