#member-btn, #budget-btn, #checklist-btn, #edit-btn {
    background-color: #008037;
    border: none;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    height: auto;
    text-align: center;
    margin: 5px auto;
}

.trips-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-image: url("../../assets/animations/trips.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 10px 0;
    opacity: 0.8;
}