@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

.main{
    max-width: 400px;
    border-radius: 20px;
    border: 2px solid #9ab4a9;
    background-color:#2090a4;
    opacity: 0.9;
    height: 100%;
}

.top{
    height: 60px;
    background-color: #9ab4a9;
    color: #2090a4;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-family: 'Nanum Pen Script', cursive;
    display: flex;
    justify-content: space-between;
}

.header{
    background-color: inherit;
    color: whitesmoke;
    margin: 10px 5px 0px 10px;
    font-size: 2rem;
    border-radius: 20px 20px 0 0;
    font-family: 'Nanum Pen Script', cursive;
}

.day{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
    font-weight: 600;
}

.temp{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
    font-weight: 600;
}

.row {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.sunrise-sunset{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
}

.description{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
    font-weight: 600;
}

.button{
    width: 35px;
    height: 35px;
}

.forecast{
    border-radius: 20px;
    border: 2px solid #9ab4a9;
    background-color:#2090a4;
    opacity: 0.9;
    height: 100%;
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 24px;
}

.flex-forecast{
    display: flex;
    justify-content: space-between;
}