.weather-container, .forecast-container {
    background-image: url("../../assets/animations/32532-day-night.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    height: 100%;
}

.main{
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #9ab4a9;
    background-color:#2090a4;
    opacity: 0.9;
}

.top{
    height: 60px;
    background-color: #9ab4a9;
    color: #2090a4;
    padding-top: -10px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-around;
}

.header{
    background-color: inherit;
    color: #fff;
    margin: 10px 5px 0px 10px;
    font-size: 2rem;
    border-radius: 10px 10px 0 0;
    text-shadow: 1px 1px #000;
}

.day{
    padding: 10px;
    color: whitesmoke;
    font-size: 24px;
    font-weight: 600;
}

.temp{
    padding: 10px;
    color: whitesmoke;
    font-size: 24px;
    font-weight: 600;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.sunrise-sunset{
    padding: 10px;
    color: whitesmoke;
    font-size: 24px;
}

.description{
    padding: 10px;
    color: whitesmoke;
    font-size: 24px;
    font-weight: 600;
}

.button{
    width: 35px;
    height: 35px;
}

.forecast{
    background-color:#2090a4;
    border-radius: 10px;
    min-width: 100%;
    color: whitesmoke;
    justify-items: space-between;
    padding: 10px;
    margin: 0 10px 0 0;
    font-size: 24px;
}

#forecast-heading {
    display: flex;
    flex-direction: row;
    background-color: #9ab4a9;
    justify-items: space-between;
    color: #fff;
    width: 100%;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    font-size: 24px;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    font-weight: bold;
}

.card {
    height: 200px;
    background: transparent;
    margin: auto;
    width: 100%;
}

.forecast-list {
    height: 200px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin-right: 5px;
}

.flex-forecast{
    display: block;
    justify-content: space-evenly;
    list-style-type: none;
}