.weather-app {
    background-image: url("../../assets/animations/32532-day-night.gif");
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    height: 100%;
    margin: auto;
    width: auto;
    border: 2px solid #2090a4;
    background-color: #2090a4;
}

.weather-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 10px;
}

label {
    text-transform: uppercase;
    padding: 10px;
    background-color: #fff;
    opacity: 0.8;
    color: #000;
    font-weight: bold;
}
input {
    height: 30px;
    text-align: center;
}

.forecast {

}