.trip-form-container {
    margin: auto auto 40px auto;
    padding: 20px;
    background-image: url("../../assets/animations/101541-circle-day.gif");
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.new-trip-form {
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: #efddb7;
    padding: 10px 10px 30px 10px;
    border: 2px solid green;
    border-radius: 20px;
    opacity: 0.9;
}

#form-label {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
    background-color: inherit;
    color: #055c6b;
}

.form-item-input {
    font-family: 'Nanum Pen Script', cursive;
    text-align: center;
    text-transform: capitalize;
    color: #000;
    font-size: 2rem;
}

#back-button, #save-button, #route-btn {
    background-color: #008037;
    border: none;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    height: auto;
    width: 100%;
    text-align: center;
    margin: auto;
}