/* #member-btn, #budget-btn, #checklist-btn, #edit-btn {
    font-family: 'Nanum Pen Script', cursive;
    text-transform: uppercase;
    display: block;
    height: auto;
    text-align: center;
    margin: 5px auto;
} */

