.google-map-container {
    position: relative;
    background-image: url("../../assets/animations/11426-travel-icons-compass.gif");
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.google-map-box {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
