.footer-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #9ab4a9;
    height: auto;
    margin: auto;
    padding: 10px;
    align-items: space-evenly;
}

.footer-info {
    display: block;
    margin: auto;
    color: rgb(42, 53, 23);
}

.github-links {
    margin: auto;
    padding: 10px;
}

.link-item {
    margin: 5px;
    text-decoration: underline;
    color: #fff;
}